.hashigami-InlineEdit > .hashigami-InlineEdit_Prime {
  display: block;
}
.hashigami-InlineEdit > .hashigami-InlineEdit_Option {
  display: none;
}

.hashigami-InlineEdit-open > .hashigami-InlineEdit_Prime {
  display: none;
}
.hashigami-InlineEdit-open > .hashigami-InlineEdit_Option {
  display: block;
}
